  <angular-slickgrid gridId="grid30"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onGridStateChanged)="handleOnGridStateChanged($event.detail)"
                     (onAngularGridCreated)="angularGridReady($event.detail)"
                     (onBeforeFilterChange)="showSpinner()"
                     (onFilterChanged)="hideSpinner()"
                     (onBeforeFilterClear)="showSpinner()"
                     (onFilterCleared)="hideSpinner()"
                     (onBeforeSortChange)="showSpinner()"
                     (onSortChanged)="hideSpinner()"
                     (onBeforeToggleTreeCollapse)="showSpinner()"
                     (onToggle-tree-collapsed)="hideSpinner()"
                     (onTree-full-toggle-start)="showSpinner()"
                     (onTree-full-toggle-end)="handleOnTreeFullToggleEnd($event.detail)"
                     (onTree-item-toggled)="handleOnTreeItemToggled($event.detail)">
  </angular-slickgrid>
